<h2>Title: <%= @recipe.title %></h2>
<h3>Made by: <%= @recipe.chef %></h3>
<p>Ingredients: <%= @recipe.ingredients %></p>
<p>Directions: <%= @recipe.directions %></p>

<a href="/recipes">All recipes</a>
<a href="/recipes/<%= @recipe.id %>/edit">Edit recipe</a>
